{% extends 'home.html' %}

{% block ticket %}
    <section class="section is-medium">
        <h1 class="title has-text-centered">Créer une critique</h1>
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-half">
                    <div>
                        <p>Vous êtes en train de poster en réponse à</p>
                        {% include 'ticket_snippet.html'%}
                    </div>
                    <form method="POST" action="{% url 'flux:create_review' ticket_pk=ticket.pk %}"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="field">
                            <label class="label">Titre</label>
                            <div class="control">
                                <label>
                                    <input class="input" type="text" name="headline">
                                </label>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Note</label>
                            <div class="control">
                                <label class="radio">
                                    <input type="radio" name="rating" value="0"> - 0
                                </label>
                                <label class="radio">
                                    <input type="radio" name="rating" value="1"> - 1
                                </label>
                                <label class="radio">
                                    <input type="radio" name="rating" value="2"> - 2
                                </label>
                                <label class="radio">
                                    <input type="radio" name="rating" value="3"> - 3
                                </label>
                                <label class="radio">
                                    <input type="radio" name="rating" value="4"> - 4
                                </label>
                                <label class="radio">
                                    <input type="radio" name="rating" value="5"> - 5
                                </label>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Commentaire</label>
                            <div class="control">
                                <label>
                                    <textarea class="textarea" name="body"></textarea>
                                </label>
                            </div>
                        </div>
                        <button type="submit" class="button is-pulled-right">Envoyer</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}