{% extends 'home.html' %}

{% block ticket %}

    <section class="section is-medium">
        <h1 class="title has-text-centered">Créer un ticket</h1>
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-half">
                    <form method="POST" action="{% url 'flux:create_ticket' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="field">
                            <label class="label">Titre</label>
                            <div class="control">
                                <label>
                                    <input class="input" type="text" name="title" required>
                                </label>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Description</label>
                            <div class="control">
                                <label>
                                    <textarea class="textarea" name="description"></textarea>
                                </label>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Image</label>
                            <img id="myimage" src="" alt="Ajouter une image pour voir un aperçu de celle-ci !">
                            <br><br>
                            <div class="file">
                                <label class="file-label">
                                    <input class="file-input" type="file" name="image" accept="image/*"
                                           onchange="document.getElementById('myimage').src = window.URL.createObjectURL(this.files[0])">
                                    <span class="file-cta">
                                        <span class="file-label">Télécharger fichier</span>
                                    </span>
                                </label>
                            </div>
                        </div>
                        <button type="submit" class="button is-pulled-right">Envoyer</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}