{% extends 'home.html' %}

{% block ticket %}

    <section class="section is-medium">
        <h1 class="title has-text-centered">Modifier une critique</h1>
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-half">
                    <form method="POST" action="{% url 'flux:modify_review' review_pk=review.pk %}"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="field">
                            <label class="label">Titre</label>
                            <div class="control">
                                <label>
                                    <input class="input" type="text" name="headline" style="text-align: center;"
                                           value="{{ review.headline }}">
                                </label>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Note</label>
                            <div class="control">
                                {% for stars in rating %}
                                    <label>
                                        <input type="radio" name="rating" value="{{ stars }}"
                                                {% if stars == review.rating %} checked {% endif %}> - {{ stars }}
                                    </label>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Commentaire</label>
                            <div class="control">
                                <label>
                                    <textarea class="textarea" name="body" >{{ review.body }}</textarea>
                                </label>
                            </div>
                        </div>
                        <button type="submit" class="button is-pulled-right">Envoyer</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}