{% extends 'home.html' %}

{% block ticket %}
    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-half">
                    <form method="POST" action="{% url 'flux:subscription' %}">
                        {% csrf_token %}
                        <span class="is-size-5">Suivre d'autres utilisateurs</span>
                        <div class="field is-grouped">
                            <p class="control is-expanded">
                                <label>
                                    <input class="input" type="text" name="username" placeholder="Nom d'utilisateur" required>
                                </label>
                            </p>
                            <p class="control">
                                <button type="submit" class="button is-pulled-right">Envoyer</button>
                            </p>
                        </div>
                        <br>
                        {% if messages %}
                            {% for message in messages %}
                                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                            <br>
                        {% endif %}
                        <span class="is-size-5">Abonnements</span>
                        <table class="table table is-bordered table is-fullwidth">
                            {% for subscription in user_follows %}
                                <tbody>
                                <tr>
                                    <td>{{ subscription.followed_user }}</td>
                                    <td class="has-text-right"><a class="button"
                                           href="{% url 'flux:unsubscribe' subscription.followed_user %}">Désabonner</a></td>
                                </tr>
                                </tbody>
                            {% endfor %}
                        </table>
                        <span class="is-size-5">Abonnés</span>
                        <table class="table table is-bordered table is-fullwidth">
                            {% for subscription in user_followed  %}
                                <tbody>
                                <tr>
                                    <td>{{ subscription.user }}</td>
                                </tr>
                                </tbody>
                            {% endfor %}
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}