<div class="box">
    <div class="media-content">
        <div class="content">
            <div style="display: flex; justify-content: space-between;">
                {% if ticket.user == user %}
                    <strong>Vous avez publié un ticket</strong>
                {% else %}
                    <strong>{{ ticket.user }} a publié un ticket</strong>
                {% endif %}
                {{ ticket.time_created }}
            </div>
            <br>
            <p>{{ ticket.title }}</p>
            <br>
            <p>{{ ticket.description }}</p>
            <br>
            {% if ticket.image %}
                <p>
                    <img src="{{ ticket.image.url }}" alt="">
                </p>
            {% endif %}

            {% if ticket.user == request.user %}
                <div class="buttons has-addons is-right">
                    <a class="button" href="{% url 'flux:modify_ticket' ticket_pk=ticket.pk %}">
                        Modifier mon ticket</a>
                    <a class="button" href="{% url 'flux:delete_ticket' ticket_pk=ticket.pk %}">
                        Supprimer mon ticket</a>
                </div>
            {% endif %}

            {% if ticket.state == 'UNREVIEWED' %}
                <div class="buttons has-addons is-right">
                    <a class="button is-right" href="{% url 'flux:create_review' ticket_pk=ticket.pk %}"
                    >Créer une critique</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>